

*, body{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    flex: 1; 
    background-color: #1f1f1f;
    height: 100vh;
    margin: 0px; 
    align-items: center;
    padding: 0px;  
    
}

nav{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links > ul {
    list-style: none; 
    display: flex;
    gap: 20px;
    margin: 0px;
    padding: 8px; 
    font-weight: bold;  
}
a{
    text-decoration: none;
    color: inherit; 
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    height: 70px;  
    
    margin: 0px 0px 0px 0px;
    
}

.link-item > * {  
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 16px; 
    padding-bottom: 8px;
    font-family: poppins; 
    font-weight: 500; 
    
}

.link-item > *:hover{
    background-color: whitesmoke;
    font-size: large;
    color: #000000; 
    border-radius: 16px;
    transition: .3s ease-in-out;  
}

/* styling the hamburger menu */
.hamburger{
    color: white;
    font-size: 20px;
    font-weight: 800;
    display: none;
}


/* Styling the other side of the website */
.hero{
    display: flex;
    margin-top: 100px; 
    margin-left: 100px;  
    margin-right: 100px; 
    
    justify-content: space-between;
    align-items: center;
    gap: 50px; 
    
}

.tag-copy {
    width: 65%;
    order: 0;
     
}

.summary{
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;       
    font-family: Poppins;   
    color: whitesmoke; 
    font-weight: 100; 
    
}

.greetings, .headline{
   
    color: whitesmoke;
}

.headline{
    font-size: 5rem; 
    font-family: Chonburi; 
    font-weight: 900;  
    
}

.greetings{
    font-family: Chonburi; 
    font-weight: 75;   
    color: rgb(144, 144, 144); 
    font-size: 3rem;  
}  

.photo{
    border: 10px solid #1f1f1f1f; 
    border-radius: 50%; 
    opacity: 50%; 
 
   
}

.primary{
    background-color: #000093;
    color: whitesmoke;
    font-size: 2rem; 
    font-family: poppins;
    font-weight: 300px;   
    width: 300px;
    height: 100px; 
    border: solid #000093; 
    border-radius: 32px;  
    
}

.primary:hover{
    background-color: blue;
}

footer{
    display: block;
    color: whitesmoke;
    text-align: center;
    margin-top: 32px; 
    border-top: 1px solid grey;
    padding: 16px;  
    font-family: poppins;
    font-weight: 200; 
    font-size: 16px;
}


@media(min-width: 368px) and (max-width: 1080px){

    body{
        margin: 8px; 
    }
    .hero{
        
        display: flex;
        flex-direction: column; 
        margin: 8px;
        justify-content: space-between;
        align-items: center;
        gap: 50px; 
    }


    /* The hamburger menu styling */
    .hamburger{
        display: flex;
        cursor: pointer;
    
    }

    .navbar{
        border-bottom: 0.1px solid grey; 
    }

    .hamburger #closeHam{
        display: none;
    }

    #navigation-items {
        display: none; 
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #000000;
        width: 100%; 
        height: calc(100vh - 60px);
        padding-top: 60px;
        gap: 5vh
        ;
        z-index: 1;
        
    }

    

    #navigation-items >*:hover{
        
        background-color: whitesmoke;  
        padding: 8px 100% 8px 100%;   
        border-radius: 8px;
        text-wrap: nowrap; 
    }

    .tag-copy{
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 1;
        padding: 0px; 
        margin: 0px;
        
    }

    

    

    

    .logo-image{ 
    padding: 0px; 
     
    margin: 0px;
    height: 50px;
     
    
}

    .photo{
    height: 200px;
    width: 200px;   
    z-index: 0; 
    }

.headline{
    font-size: 2rem;
    text-align: justify; 
}

.greetings{
    font-size: 1.6rem !important;  
    text-align: justify;
   
}

.primary{
    width: 100%;
    height: 60px;  
    font-size: 1.5rem;   
   
}

footer{
    display: block;
    color: whitesmoke;
    text-align: center;
    margin-top: 32px; 
    border-top: 1px solid grey;
    padding: 8px;  
    font-family: poppins;
    font-weight: 100; 
    font-size: 12px;
}
}

